@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  *, ::after, ::before {
    box-sizing: border-box !important; 
    
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }

  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@theme {
  --animate-noise: noise 0.2s infinite;

  @keyframes noise {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    20% { transform: translate(-10%, 5%); }
    30% { transform: translate(5%, -10%); }
    40% { transform: translate(-5%, 15%); }
    50% { transform: translate(-10%, 5%); }
    60% { transform: translate(15%, 0); }
    70% { transform: translate(0, 10%); }
    80% { transform: translate(-15%, 0); }
    90% { transform: translate(10%, 5%); }
    100% { transform: translate(5%, 0); }
  }
}

@keyframes scanline {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  } 
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scanline {
  animation: scanline 3s linear infinite;
  background: linear-gradient(to bottom, transparent, #22c55e, transparent);
}

.scrollbar-pdf::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.scrollbar-pdf::-webkit-scrollbar-track{
  display: none;
}

.scrollbar-pdf::-webkit-scrollbar-thumb{
  width: 5px;
  height: 5px;
  background-color: #efefef;
  border-radius: 100px;
}
